<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/project/webroot/css/style.css">
    <link rel="stylesheet" type="text/css" href="/project/webroot/css/profile.css">
    <link rel="stylesheet" type="text/css" href="/project/webroot/css/auth.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <title>Change Password</title>
</head>

<body>
    <header id="header">
        <div class="container">
            <nav class="navbar">
                <div>
                    <a href="/"><span class="active">Главная</span></a>
                    <a href="/about-us">О Магазине</a>
                    <a href="/contacts">Контакты</a>
                </div>
                <div>
                    {% if auth %}
                    <a href="/profile" style="display: flex; align-items: center;"><img alt="user" src="/project/webroot/img/user.png" width="16px" height="16px" style="margin-right: 8px;"><span>Мой профиль</span></a>
                    {% else %}
                    <a href="/login" id="myBtnLogin">Вход</a>
                    <a href="/register" id="myBtnRegister">Регистрация</a>
                    {% endif %}
                </div>
            </nav>
            <hr>

            <div class="header">
                <a href="/" class="logo">DIO</a>
                <div class="search-container">
                    <form action="/search/?" method="GET" style="display: flex; width: 100%;">
                        <input type="text" name="q" placeholder="🔍 Поиск по каталогу магазина" value="{{ search }}">
                        <button type="submit">Найти</button>
                    </form>
                </div>
                <a href="/cart" class="basket">
                    <div>
                        <span id="countCart" class="countCart">{{ cart_qty }}</span>
                        <img src="/project/webroot/img/basket.png">
                    </div>
                    <label style="cursor: pointer;">Корзина</label>
                </a>
            </div>
        </div>
    </header>

    <main id="main">
        <div class="breadcrumbs" id="breadcrumbs">
            <div class="pathPages">
                <div class="breadcrumbs_arrow" onclick="goBack()">
                    <img src="/project/webroot/img/down-arrow.png">
                </div>
                <div class="path">
                    <a href="/" class="pathText" style="color: #a9a7a6; text-decoration: none;">Главная / </a>
                    <span class="pathText">Профиль</span>
                </div>
            </div>

            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </div>
        <div class="container">
            {% include 'layouts/sidebar.twig' %}
            <div class="main">
                <form method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <label for="old_password">Старый пароль:</label>
                    <div style="color: #DC3545; font-family: Roboto Mono;">{{ errors.old_pass_match }}</div>
                    <input type="password" id="old_password" name="old_password" required>
                    <label for="new_password">Новый пароль:</label>
                    <div style="color: #DC3545; font-family: Roboto Mono;">{{ errors.max_pass }}</div>
                    <div style="color: #DC3545; font-family: Roboto Mono;">{{ errors.min_pass }}</div>
                    <div style="color: #DC3545; font-family: Roboto Mono;">{{ errors.passwords_match }}</div>
                    <input type="password" id="new_password" name="new_password" required>
                    <label for="confirm_password">Подтвердите новый пароль:</label>
                    <div style="color: #DC3545; font-family: Roboto Mono;">{{ errors.confirm_pass }}</div>
                    <input type="password" id="confirm_password" name="confirm_password" required>
                    <button type="submit" name="change_pass">Сменить пароль</button>
                </form><br>
                <a href="/password/reset">Забыли пароль?</a>
            </div>
        </div>
    </main>

    <div class="mobile-version">
        <img onclick="goBack()" alt="arrow-back" src="/project/webroot/img/arrow-back.png" class="close">
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
        <div class="auth-form">
            <h1 class="logo">DIO</h1>
            <div class="title">Сменить пароль</div><br>
            <form method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                <div style="color: #DC3545; font-family: Roboto Mono;">{{ errors.old_pass_match }}</div>
                <input type="password" id="old_password" name="old_password" placeholder="Старый пароль" required>
                <div style="color: #DC3545; font-family: Roboto Mono;">{{ errors.max_pass }}</div>
                <div style="color: #DC3545; font-family: Roboto Mono;">{{ errors.min_pass }}</div>
                <div style="color: #DC3545; font-family: Roboto Mono;">{{ errors.passwords_match }}</div>
                <input type="password" id="new_password" name="new_password" placeholder="Новый пароль" required>
                <div style="color: #DC3545; font-family: Roboto Mono;">{{ errors.confirm_pass }}</div>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Подтвердите пароль" required>
                <button type="submit" name="change_pass">Сменить пароль</button>
            </form><br>
            <a href="/password/reset" style="color: #4CAF50;">Забыли пароль?</a>
        </div>
    </div>

    <div class="MobileShowNavigation" id="MobileShowNavigation">
        <div class="menu">
            <a href="/"><img src="/project/webroot/img/home.png"></a>
            <a href="/mobile/categories"><img src="/project/webroot/img/category.png"></a>
            <a href="/cart">
                <span id="countCart" class="countCartMobile">{{ cart_qty }}</span>
                <img src="/project/webroot/img/basketicon.png">
            </a> {% if auth %}
            <a href="/profile"><img src="/project/webroot/img/profile.png"></a>
            {% else %}
            <a href="/login"><img src="/project/webroot/img/profile.png"></a>
            {% endif %}
        </div>
    </div>

</body>

</html>