<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/project/webroot/css/style.css">
    <link rel="stylesheet" type="text/css" href="/project/webroot/css/profile.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <title>DIO</title>
</head>
<body>
    <header>
      <div class="container">
        <nav class="navbar">
            <div>
                <a href="#"><span class="active">Главная</span></a>
                <a href="#">О Магазине</a>
                <a href="#">Контакты</a>
            </div>
            <div>
                <a id="myBtnLogin" href="#">Вход</a>
                <a id="myBtnRegister" href="#">Регистрация</a>
            </div>
        </nav>
        <hr>
         
        <div class="header">
            <a href="#" class="logo">DIO</a>
            <div class="search-container">
                <input type="text" placeholder="🔍 Поиск по каталогу магазина">
                <button type="submit">Найти</button>
            </div>
            <div class="basket">
                <img src="/project/webroot/img/basket.png">
                <label>Корзина</label>
            </div>
        </div>
      </div>
    </header>

    <main>
        <div class="container">
            <div class="sidebar">
              <ul>
                <li><a href="#">Редактировать данные</a></li>
                <li><a href="#">Изменить пароль</a></li>
                <li><a href="#">Активные заказы</a></li>
                <li><a href="#">Избранное</a></li>
                <li><a href="#">История покупок</a></li>
                <li><a href="#">Выйти</a></li>
                <li><a href="#">Удалить аккаунт</a></li>
              </ul>
            </div>
            <div class="main">
              <h1>Избранное</h1>
              <div class="products">
                {% for product in products %}
                    <div class="product">
                        <a href="/product/{{ product.id }}" class="picture"><img src="/project/webroot/uploads/{{ product.image }}"></a>
                        <a href="/product/{{ product.id }}" class="title"><span>{{ product.title }}</span></a>
                        <a href="/product/{{ product.id }}" class="price"><span>{{ product.price }}₽</span></a>
                    </div>
                {% endfor %}     
                            
            </div>
            </div>
          </div>
    </main>

    <div class="MobileShowNavigation">
        <div class="menu">
        <img src="/project/webroot/img/home.png">
        <img src="/project/webroot/img/category.png">
        <img src="/project/webroot/img/basketicon.png">
        <a href="#"><img src="/project/webroot/img/profile.png"></a>
        </div>
    </div>

</body>
</html>