<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/project/webroot/css/style.css">
    <link rel="stylesheet" type="text/css" href="/project/webroot/css/profile.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <title>DIO</title>
</head>
<body>
    {% include '/layouts/header.twig' %}

    <main>
        <div class="container" id="profile_computer_version">
            <div class="sidebar">
              <ul>
                <li><a href="/edit/profile">Редактировать данные</a></li>
                <li><a href="/change/password">Изменить пароль</a></li>
                <li><a href="#">Активные заказы</a></li>
                <li><a href="#">Избранное</a></li>
                <li><a href="#">История покупок</a></li>
                <li><a href="/logout">Выйти</a></li>
                <li><a href="/delete/profile">Удалить аккаунт</a></li>
              </ul>
            </div>
            <div class="main">



              <div class="profile-container">
                <div class="profile-header">
                  <h1>Профиль</h1>
                </div>
                <div class="profile-info">
                <div class="profile-info-first">
                  <div class="profile-info__item">
                    <span class="profile-info__label">Имя:</span>
                    <span class="profile-info__value">{{ user.first_name }}</span>
                  </div>
                  <div class="profile-info__item">
                    <span class="profile-info__label">Фамилия:</span>
                    <span class="profile-info__value">{{ user.last_name }}</span>
                  </div>
                  </div>
                  <div class="profile-info-second">
                  <div class="profile-info__item">
                    <span class="profile-info__label">Email:</span>
                    <span class="profile-info__value">{{ user.email }}</span>
                  </div>
                  <div class="profile-info__item">
                    <span class="profile-info__label">Телефон:</span>
                    <span class="profile-info__value">{{ user.phone }}</span>
                  </div>
                  <div class="profile-info__item">
                    <span class="profile-info__label">Адрес:</span>
                    <span class="profile-info__value">{{ user.address }}</span>
                  </div>
                </div>
                </div>
              </div>
              

            </div>
          </div>


        <!-- For mobile version -->
        <ul class="list_profile">
            <div class="profile-container">
                <div class="profile-header">
                  <h2>Профиль</h2>
                </div>
                <div>
                  <div class="profile-info__item">
                    <span class="profile-info__label">Имя:</span>
                    <span class="profile-info__value">{{ user.first_name }}</span>
                  </div>
                  <div class="profile-info__item">
                    <span class="profile-info__label">Фамилия:</span>
                    <span class="profile-info__value">{{ user.last_name }}</span>
                  </div>
                  <div class="profile-info__item">
                    <span class="profile-info__label">Email:</span>
                    <span class="profile-info__value">{{ user.email }}</span>
                  </div>
                  <div class="profile-info__item">
                    <span class="profile-info__label">Телефон:</span>
                    <span class="profile-info__value">{{ user.phone }}</span>
                  </div>
                  <div class="profile-info__item">
                    <span class="profile-info__label">Адрес:</span>
                    <span class="profile-info__value">{{ user.address }}</span>
                  </div>
                </div>
              </div>
            <li><a href="/edit/profile">Редактировать данные</a></li>
            <li><a href="/change/password">Изменить пароль</a></li>
            <li><a href="#">Активные заказы</a></li>
            <li><a href="#">Избранное</a></li>
            <li><a href="/logout">Выйти</a></li>
            <li><a href="/delete/profile">Удалить аккаунт</a></li>
        </ul>
    </main>

    <div class="MobileShowNavigation">
        <div class="menu">
        <img src="/project/webroot/img/home.png">
        <img src="/project/webroot/img/category.png">
        <img src="/project/webroot/img/basketicon.png">
        <a href="/login"><img src="/project/webroot/img/profile.png"></a>
        </div>
    </div>

</body>
</html>