<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/project/webroot/css/style.css">
    <link rel="stylesheet" type="text/css" href="/project/webroot/css/cart.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <script src="/project/webroot/js/jquery-3.6.4.min.js"></script>
    <title>Корзина</title>
</head>

<body>
    {% include 'layouts/header.twig' %}

    <main>
        <div class="breadcrumbs">
            <div class="pathPages">
                <div class="breadcrumbs_arrow" onclick="goBack()">
                    <img src="/project/webroot/img/down-arrow.png">
                </div>
                <div class="path">
                    <a href="/">Главная / </a>
                    <span>Корзина</span>
                </div>
            </div>

            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </div>
        <div class="container main">

            <div class="right block-basket">

                <div class="block-title">
                    <div class="block-elem">
                        <input type="checkbox" class="select-all-checkbox" id="choose-all">
                        <label for="choose-all" style="margin-left: 5px;">Выбрать всё</label>
                    </div>
                    <h1 style="font-family: Montserrat;">Корзина</h1>
                    <div class="block-elem">
                        <label style="margin-right: 5px;" for="delete_selected">Удалить выбранное</label>
                        <img src="/project/webroot/img/musorka.png" id="delete_selected" width="28px">
                    </div>
                </div>
                <hr style="height: 1px; border: 0; background-color: #CCCFD3; margin: 0;">
                {% for product in products %}
                <div class="card-item product-{{ product.id }}">
                    <div class="left-item">
                        <div style="display: flex; align-items: center;">
                            <input type="checkbox" class="checkbox" id="choose-all" name="delete_cart[]" value="{{ product.id }}">
                            <a href="/product/{{ product.id }}"><img src="/project/webroot/uploads/{{ product.image }}" class="card-item-image"></a>
                        </div>
                        <a href="/product/{{ product.id }}" style="margin-left: 16px; margin-right: 16px;">{{ product.title }}
                            {{ product.memory }}
                            {{ product.color }}</a>
                    </div>
                    <div class="right-item">
                        <div id="count">
                            <h2 class="changeAmount-{{ product.id }}" onclick="decrement({{ product.id }})">-</h2>
                            <h2 class="quantity-{{ product.id }}">{{ product.count ? product.count : 1 }}</h2>
                            <h2 class="changeAmount-{{ product.id }}" onclick="increment({{ product.id }})">+</h2>
                        </div>
                        <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token }}">
                        <label class="deleteProduct-{{ product.id }}" style="color: red; margin-left: 16px;">Удалить</label>
                        <h1 class="price">
                            <span class="p p-{{ product.id }}">{{ product.price }}</span>₽
                        </h1>
                        <span class="pricesss cost-{{ product.id }}" style="display: none;">0</span>
                    </div>
                </div>

                <script>
                    // Выбрать все элементы для удаления
                    var selectAllCheckbox = document.querySelector('.select-all-checkbox');
                    var checkboxes = document.querySelectorAll('input[type=checkbox]:not(.select-all-checkbox)');

                    selectAllCheckbox.addEventListener('change', function() {
                        for (var i = 0; i < checkboxes.length; i++) {
                            checkboxes[i].checked = this.checked;
                        }
                    });

                    for (var i = 0; i < checkboxes.length; i++) {
                        checkboxes[i].addEventListener('change', function() {
                            if (!this.checked) {
                                selectAllCheckbox.checked = false;
                            } else {
                                var allChecked = true;

                                for (var j = 0; j < checkboxes.length; j++) {
                                    if (!checkboxes[j].checked) {
                                        allChecked = false;
                                        break;
                                    }
                                }

                                selectAllCheckbox.checked = allChecked;
                            }
                        });
                    }

                    function reloadPage(json) {
                        let jsonObj = JSON.parse(json);
                        $.ajax({
                            url: '/cart',
                            method: 'POST',
                            dataType: 'html',
                            data: {},
                            success: function(data) {
                                $('#csrf_token').val(jsonObj.csrf_token);
                                $('.countCart').text(jsonObj.countCart != 0 ? jsonObj.countCart : '');
                                $('.countCartMobile').text(jsonObj.countCart != 0 ? jsonObj.countCart : '');
                            }
                        });
                    }

                    // Удаление выбранных товаров
                    $('#delete_selected').on("click", function() {
                        let csrf = $('#csrf_token').val();
                        let selected = $('.checkbox:checked').map(function() {
                            return $(this).val();
                        }).get();

                        $.ajax({
                            url: '/cart/delete-selected',
                            type: 'POST',
                            cache: false,
                            data: {
                                'delete_cart': selected,
                                'csrf': csrf
                            },
                            dataType: 'html',
                            success: function(res) {
                                if (selected.length != 0) {
                                    for (let i = 0; i < selected.length; i++) {
                                        $('.product-' + selected[i]).remove();
                                    }
                                }
                                reloadPage(res);
                                updateTotalPrice();
                                emptyCart();
                            }
                        });
                    });


                    // Удаление товара из корзинки
                    $(".deleteProduct-{{ product.id }}").on("click", function() {
                        let csrf = $('#csrf_token').val();
                        $.ajax({
                            url: '/product/cart/{{ product.id }}',
                            type: 'POST',
                            cache: false,
                            data: {
                                'csrf_token': csrf
                            },
                            dataType: 'html',
                            success: function(data) {
                                $('.product-{{ product.id }}').remove();
                                reloadPage(data);
                                updateTotalPrice();
                                emptyCart();
                            }
                        });
                    });
                </script>
                <script>
                    function updatePrice(id) {
                        let quantity = parseInt(document.querySelector('.quantity-' + id).innerHTML);
                        let price = parseInt(document.querySelector('.p-' + id).innerText);
                        let update = price * quantity;
                        document.querySelector('.cost-' + id).innerText = update;
                        updateTotalPrice();
                    }

                    $(".changeAmount-{{ product.id }}").on("click", function() {
                        let csrf = $('#csrf_token').val();
                        let quantity = $('.quantity-{{ product.id }}').text();
                        $.ajax({
                            url: '/cart/change/amount/price',
                            type: 'POST',
                            cache: false,
                            data: {
                                'csrf_token': csrf,
                                'counter': quantity,
                                'product_id': '{{ product.id }}',
                                'price': '{{ product.price }}'
                            },
                            dataType: 'html',
                            success: function(data) {
                                updatePrice('{{ product.id }}');
                                reloadPage(data);
                            }
                        });
                    });

                    window.onload = updatePrice('{{ product.id }}');
                </script>

                {% endfor %}
                <hr style="height: 1px; border: 0; background-color: #CCCFD3; margin: 0;">
                <a href="/order" style="display: block; width: 100%; text-align: center;"><button type="submit">Купить за <span class="total-price">0</span>₽</button></a>
            </div>
        </div>

        <div class="empty_cart" style="display: none;">
            <h3>КОРЗИНА ПУСТА</h3>
            <img src="/project/webroot/img/emptycart.png">
            <span>Ваша корзина пуста. Начните с поиска чего-то подходящего на главной странице или воспользуйтесь поиском</span>
        </div>
    </main>

    <script>
        function emptyCart() {
            let cart = document.querySelector('.card-item');
            if (cart === null) {
                document.querySelector('.main').style.display = 'none';
                document.querySelector('.empty_cart').style.display = 'flex';
            } else {
                document.querySelector('.empty_cart').style.display = 'none';
                document.querySelector('.main').style.display = 'flex';
            }
        }

        window.onload = emptyCart();
    </script>

    {% include 'layouts/footer.twig' %}

    <div class="MobileShowNavigation">
        <div class="button-buy-mobile">
            <a href="/order" style="display: block; width: 100%; text-align: center;"><button type="submit">Купить за <span class="total-price-mobile">0</span>₽</button></a>
        </div>
        <div class="menu">
            <a href="/"><img src="/project/webroot/img/home.png"></a>
            <a href="/mobile/categories"><img src="/project/webroot/img/category.png"></a>
            <a href="/cart">
                <span id="countCart" class="countCartMobile">{{ cart_qty }}</span>
                <img src="/project/webroot/img/basketicon.png">
            </a>
            {% if auth %}
            <a href="/profile"><img src="/project/webroot/img/profile.png"></a>
            {% else %}
            <a href="/login"><img src="/project/webroot/img/profile.png"></a>
            {% endif %}
        </div>
    </div>

    <script>
        // Обработчик события для кнопки увеличения количества товара
        function increment(id) {
            let quantity = parseInt(document.querySelector('.quantity-' + id).innerHTML);
            if (quantity <= 1) {
                document.querySelector('.quantity-' + id).innerHTML = '2';
            } else {
                quantity++;
                document.querySelector('.quantity-' + id).innerHTML = quantity;
            }
        };

        // Обработчик события для кнопки уменьшения количества товара
        function decrement(id) {
            let quantity = parseInt(document.querySelector('.quantity-' + id).innerHTML);
            if (quantity > 1) {
                quantity--;
                document.querySelector('.quantity-' + id).innerHTML = quantity;
            }
        };

        function updateTotalPrice() {
            let prices = document.querySelectorAll('.pricesss');
            let arr = [];
            for (let i = 0; i < prices.length; i++) {
                arr.push(prices[i].innerHTML);
            }
            const sum = arr.reduce((acc, curr) => {
                const num = parseInt(curr);
                if (!isNaN(num)) {
                    acc += num;
                }
                return acc;
            }, 0);
            document.querySelector('.total-price').innerText = sum;
            document.querySelector('.total-price-mobile').innerText = sum;
        }

        window.onload = updateTotalPrice();
    </script>
</body>

</html>