<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/project/webroot/css/style.css">
    <link rel="stylesheet" type="text/css" href="/project/webroot/css/order.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <script src="/project/webroot/js/jquery-3.6.4.min.js"></script>
    <title>Оформление заказа</title>
</head>

<body>
    {% include 'layouts/header.twig' %}

    <main class="order">
        <div class="order_container">
            <div class="breadcrumbs">
                <div class="pathPages">
                    <div class="breadcrumbs_arrow" onclick="goBack()">
                        <img src="/project/webroot/img/down-arrow.png">
                    </div>
                    <div class="path">
                        <a href="/">Главная / </a>
                        <span>Оформление заказа</span>
                    </div>
                </div>

                <script>
                    function goBack() {
                        window.history.back();
                    }
                </script>
            </div>
            <h3 class="order_title">ОФОРМЛЕНИЕ ЗАКАЗА</h3>
            <div class="order_block">
                <div class="address_info">
                    <h4>АДРЕС ДОСТАВКИ</h4>
                    <div style="color: #DC3545; font-family: Roboto Mono;">{{ errors.address_required }}</div>
                    <div class="info">{{ user.address ? user.address : "<a href='/edit/profile'><li style='color: #318CE7;'>Добавить адрес</li></a>" }}</div>
                    <hr>
                    <h4>КОНТАКТНАЯ ИНФОРМАЦИЯ</h4>
                    <div class="info">{{ user.first_name or user.last_name ? user.first_name : "<a href='/edit/profile'><li style='color: #318CE7;'>Добавить имя</li></a>" }} {{ user.last_name }}</div><br>
                    <div style="color: #DC3545; font-family: Roboto Mono;">{{ errors.phone_required }}</div>
                    <div class="info">{{ user.phone ? user.phone : "<a href='/edit/profile'><li style='color: #318CE7;'>Добавить телефон</li></a>" }}</div><br>
                    <div class="info">{{ user.email }}</div>
                </div>
                <div class="payments-methods">
                    <h4>СПОСОБЫ ОПЛАТЫ</h4>
                    <p id="payment_num" style="display: none;"></p>
                    <hr>
                    <div class="payment-methods">
                        <div class="payment-methods-method" onclick="updateText(this, 1)">
                            <img alt="" src="/project/webroot/img/money.svg">
                            <div>
                                <span>Через курьера</span>
                                <p>(оплаты наличными)</p>
                            </div>
                        </div>
                        <div class="payment-methods-method" onclick="updateText(this, 2)">
                            <img alt="" src="/project/webroot/img/samovyzov.svg">
                            <div>
                                <span>Самовызов</span>
                            </div>
                        </div>
                        <div class="payment-methods-method" onclick="updateText(this, 3)">
                            <img alt="" src="/project/webroot/img/payments.svg">
                            <div>
                                <span>Переводы</span>
                                <p>(СберБанк, QiWi и WebMoney)</p>
                            </div>
                        </div>
                        <div class="payment-methods-method" onclick="updateText(this, 4)">
                            <img alt="" src="/project/webroot/img/crypto.svg">
                            <div>
                                <span>Криптовалютой</span>
                            </div>
                        </div>
                    </div>
                    <span class="methods_description"></span>
                </div>
            </div>
            <div class="order_block">
                <form class="order-data">
                    <h4>ТОВАРЫ</h4>
                    <hr>
                    {% for product in products %}
                    <div class="order-data_product" data-id="{{ product.id }}">
                        <div class="order-data_product-block">
                            <span class="order-data_product-quan quantity-{{ product.id }}">{{ product.count }}</span>
                            <img alt="" src="/project/webroot/uploads/{{ product.image }}" class="order-data_product-image">
                            <div class="order-data_product-data">
                                <span class="order-data-title">{{ product.title }}</span>
                            </div>
                        </div>
                        <div class="order-data_product-prices">
                            <span class="order-data_product-price"><span class="product_price p-{{ product.id }}">{{ product.price }}</span>₽</span>
                        </div>
                    </div>
                    <div class="order-data_data">
                        <span>Стоимость</span>
                        <span class="order-data_data-price"><span class="pricesss cost-{{ product.id }}">0</span>₽</span>
                    </div>
                    <hr>

                    <script>
                        function updatePrice() {
                            let quantity = parseInt(document.querySelector('.quantity-{{ product.id }}').innerHTML);
                            let price = parseInt(document.querySelector('.p-{{ product.id }}').innerText);
                            let update = price * quantity;
                            document.querySelector('.cost-{{ product.id }}').innerText = update;
                        }
                        window.onload = updatePrice();
                    </script>
                    {% endfor %}
                    <div class="order-data_total">
                        <span class="order-data_total-total">Итого</span>
                        <span class="order-data_total-price"><span class="total">0</span>₽</span>
                    </div>
                    <button class="order-data_button" onclick="makeOrder()" type="button">Оформить заказ</button>
                </form>
            </div>
        </div>
    </main>

    <script>
        function updateText(element, text) {
            // Находим все элементы и убираем у них зеленую рамку
            const items = document.querySelectorAll(".payment-methods-method");
            items.forEach(item => item.style = "border: 1px solid #a9a7a6;");

            // Выбранный элемент получает зеленую рамку
            element.style = "border: 2px solid #00D270";

            // Обновляем текст в теге span
            texts(text);
        }

        function texts(text) {
            const output = document.querySelector('.methods_description');
            const payment_num = document.getElementById('payment_num');
            if (text == 1) {
                payment_num.innerText = 1;
                output.innerText = `Выбранный способ предполагает оплату на месте, во время передачи товара заказчику.`;
            } else if (text == 2) {
                payment_num.innerText = 2;
                output.innerText = `Заказ резервируется на ваше ФИО и хранится в течении недели. После истечения срока хранения, товар автоматически является активным для продажи и больше не числится в базе за вашим именем`;
            } else if (text == 3) {
                payment_num.innerText = 3;
                output.innerText = `Выбрав данный способ оплаты, наш оператор связывается с вами, объясняет инструкцию по переводу и подтверждает пополнение счёта. После завершения перевода, ваш товар, в зависимости от типа доставки, следует указанному маршруту.`;
            } else if (text == 4) {
                payment_num.innerText = 4;
                output.innerText = `Выбрав данный способ оплаты, наш оператор связывается с вами, объясняет инструкцию по переводу и подтверждает пополнение счёта. После завершения перевода, ваш товар, в зависимости от типа доставки, следует указанному маршруту.`;
            }
        }

        function updateTotalPrice() {
            let prices = document.querySelectorAll('.pricesss');
            let arr = [];
            for (let i = 0; i < prices.length; i++) {
                arr.push(prices[i].innerHTML);
            }
            const sum = arr.reduce((acc, curr) => {
                const num = parseInt(curr);
                if (!isNaN(num)) {
                    acc += num;
                }
                return acc;
            }, 0);
            document.querySelector('.total').innerText = sum;
        }

        window.onload = updateTotalPrice();
    </script>

    {% include 'layouts/footer.twig' %}

    <div class="MobileShowNavigation">
        <div class="button-buy-mobile">
            <button onclick="makeOrder()" type="button">Оформить заказ</button>
        </div>
        <div class="menu">
            <a href="/"><img src="/project/webroot/img/home.png"></a>
            <a href="/mobile/categories"><img src="/project/webroot/img/category.png"></a>
            <a href="/cart">
                <span id="countCart" class="countCartMobile">{{ cart_qty }}</span>
                <img src="/project/webroot/img/basketicon.png">
            </a> {% if auth %}
            <a href="/profile"><img src="/project/webroot/img/profile.png"></a>
            {% else %}
            <a href="/login"><img src="/project/webroot/img/profile.png"></a>
            {% endif %}
        </div>
    </div>

    <div class="modal" id="modal">
        <div class="modal-content">
            <p id="modal-text"></p>
            <button class="modal-button-ok" onclick="modalBtnOk()" id="modal-button-ok">ОК</button>
        </div>
    </div>

    <script>
        function makeOrder() {
            const product_ids = [];
            const products = document.querySelectorAll('.order-data_product');
            products.forEach((product) => {
                const dataId = product.getAttribute('data-id');
                product_ids.push(dataId);
            });

            const payment_method = document.getElementById('payment_num').innerText;

            let modal = document.getElementById("modal");
            let modalText = document.getElementById("modal-text");
            let btnOk = document.getElementById("modal-button-ok");
            $.ajax({
                type: 'POST',
                url: '/order/make',
                data: {
                    'product_ids': product_ids,
                    'payment_method': payment_method,
                    'csrf_token': '{{ csrf_token }}'
                },
                cache: false,
                dataType: 'html',
                success: function(data) {
                    if (product_ids.length > 0) {
                        if (data == 'Заказ успешно оформлен!') {
                            modalText.style.color = '#28A745';
                            btnOk.onclick = function() {
                                window.location = '/profile/active/orders';
                            };
                        } else {
                            modalText.style.color = '#DC3545';
                        }
                        modalText.innerText = data;
                        modal.style.display = 'flex';
                    } else {
                        modalText.innerText = 'Выберите товар для оформление заказа.';
                        modalText.style.color = '#DC3545';
                        modal.style.display = 'flex';
                    }
                }
            });
        }

        function modalBtnOk() {
            let modal = document.getElementById("modal");
            modal.style.display = 'none';
        }
    </script>

</body>

</html>