<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/project/webroot/css/style.css">
    <link rel="stylesheet" type="text/css" href="/project/webroot/css/auth.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <title>DIO</title>
</head>

<body>
    {% include 'layouts/header.twig' %}

    <main>
        <div class="container">
            <div class="left">
                {% include 'layouts/categories.twig' %}
            </div>

        </div>

        <div class="right">
            <div class="title-products">Бестселлеры</div>
            <div class="products">
                {% for product in bestsellers %}
                <div class="product">
                    {% set publish_date = product.created_at|date('U') %}
                    {% set now = 'now'|date('U') %}

                    {% if now - publish_date < 2592000 %}
                    <div class="markerContainer">
                        <div class="marker" style="background-color: #09d32a">Новинки</div>
                    </div>
                    {% endif %}
                    <a href="/product/{{ product.id }}" class="picture"><img src="/project/webroot/uploads/{{ product.image }}"></a>
                    <a href="/product/{{ product.id }}" class="title"><span>{{ product.title }}</span></a>
                    <a href="/product/{{ product.id }}" class="price"><span>{{ product.price }}₽</span></a>
                </div>
                {% endfor %}
            </div>

            <div class="title-products new-products">Новинки</div>
            <div class="products">
                {% for product in new_products %}
                <div class="product">
                    {% set publish_date = product.created_at|date('U') %}
                    {% set now = 'now'|date('U') %}

                    {% if now - publish_date < 2592000 %}
                    <div class="markerContainer">
                        <div class="marker" style="background-color: #09d32a">Новинки</div>
                    </div>
                    {% endif %}

                    <a href="/product/{{ product.id }}" class="picture"><img src="/project/webroot/uploads/{{ product.image }}"></a>
                    <a href="/product/{{ product.id }}" class="title"><span>{{ product.title }}</span></a>
                    <a href="/product/{{ product.id }}" class="price"><span>{{ product.price }}₽</span></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>

    {% include 'layouts/footer.twig' %}
    
    <div class="MobileShowNavigation">
    <div class="menu">
        <a href="/"><img src="/project/webroot/img/active_home.png"></a>
        <a href="/mobile/categories"><img src="/project/webroot/img/category.png"></a>
        <a href="/cart">
            <span id="countCart" class="countCartMobile">{{ cart_qty }}</span>
            <img src="/project/webroot/img/basketicon.png">
        </a>
        {% if auth %}
        <a href="/profile"><img src="/project/webroot/img/profile.png"></a>
        {% else %}
        <a href="/login"><img src="/project/webroot/img/profile.png"></a>
        {% endif %}
    </div>
    </div>
</body>

</html>